/* css styles */
/* open-sans-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('fonts/open-sans-v34-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/open-sans-v34-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* open-sans-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('fonts/open-sans-v34-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/open-sans-v34-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@media (max-width: 600px) {
    table {
	font-size: 0.8em;
    }
    p {
	font-size: 0.8em;
	text-align: left;
    }
}

p {
    text-align: left;
}

  /* **  */
em {
    color: #1c7046;
    text-decoration: none;
    font-style: normal;
}

i, del {
    color: #606060;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

em code {
    color: #8404a6;
}

/* ******  */
strong em {
  color: #657422;
}

/* ****  */
strong {
    color: #4758AB;
    text-decoration: none;
    font-weight: normal;
}


/* ``  */
code {
    color: #cf8427;
    font-size: 1em;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  
}

dt {
    font-weight: normal;
}
